<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoying.enginex.executor.rule.mapper.RuleInfoMapper">

    <resultMap type="com.baoying.enginex.executor.rule.model.RuleInfo" id="RuleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="priority" column="priority" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="author" column="author" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="organId" column="organ_id" jdbcType="INTEGER"/>
        <result property="engineId" column="engine_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="isNon" column="is_non" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="created" column="created" jdbcType="TIMESTAMP"/>
        <result property="updated" column="updated" jdbcType="TIMESTAMP"/>
        <result property="ruleType" column="rule_type" jdbcType="INTEGER"/>
        <result property="ruleAudit" column="rule_audit" jdbcType="INTEGER"/>
        <result property="score" column="score" jdbcType="INTEGER"/>
        <result property="difficulty" column="difficulty" jdbcType="INTEGER"/>
        <result property="scriptType" column="script_type" jdbcType="VARCHAR"/>
        <result property="lastLogical" column="last_logical" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_column">
        id, name, code, description, priority, parent_id, author, user_id, organ_id, engine_id, status, type, is_non, content, created, updated, rule_type, rule_audit, score, score_field_en, last_logical,difficulty,script_type,result_field_en
    </sql>

    <select id="getRuleList"  resultMap="RuleMap">
        select
        <include refid="Base_column"></include>
        from t_rule
        where id in
        <foreach collection="ruleIds" item="ruleId" open="(" separator="," close=")">
            #{ruleId}
        </foreach>
    </select>

</mapper>

