<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoying.enginex.executor.rule.mapper.RuleFieldInfoMapper">

    <select id="getFieldEnList" resultType="string">
        select distinct RIGHT(`field_id`, LENGTH(`field_id`) - LOCATE("|",`field_id`)) field_en from t_rule_field
        WHERE
        rule_id in
        <foreach collection="ruleIds" item="ruleId" index="index" open="(" separator="," close=")">
            #{ruleId}
        </foreach>
    </select>
</mapper>

