<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoying.enginex.executor.engine.mapper.EngineNodeMapper">
  <cache></cache>
  <resultMap id="EngineNodeMap" type="engineNode">
    <id column="node_id" jdbcType="INTEGER" property="nodeId" />
    <result column="version_id" jdbcType="INTEGER" property="versionId" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="node_code" jdbcType="VARCHAR" property="nodeCode" />
    <result column="node_order" jdbcType="INTEGER" property="nodeOrder" />
    <result column="node_type" jdbcType="INTEGER" property="nodeType" />
    <result column="node_x" jdbcType="DECIMAL" property="nodeX" />
    <result column="node_y" jdbcType="DECIMAL" property="nodeY" />
    <result column="node_json" jdbcType="LONGVARCHAR" property="nodeJson" />
    <result column="node_script" jdbcType="LONGVARCHAR" property="nodeScript" />
    <result column="next_nodes" jdbcType="LONGVARCHAR" property="nextNodes" />
    <result column="params" jdbcType="LONGVARCHAR" property="params" />
    <result column="snapshot" jdbcType="LONGVARCHAR" property="snapshot" />
  </resultMap>
  
  <sql id="Base_Column_List">
    node_id, parent_id, version_id, node_name, node_code, node_order, node_type, node_x, node_y,node_json,node_script,next_nodes,params,snapshot
  </sql>

  <select id="getEngineNodeListByVersionId" parameterType="long" resultMap="EngineNodeMap">
      select <include refid="Base_Column_List"/> from t_engine_node where version_id =#{engineVersionId}
      ORDER BY node_order ASC
  </select>
  
</mapper>